@model BukkitDevSystem.Models.PluginModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PluginModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePlugin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePlugin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorPlugin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorPlugin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersaoPlugin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersaoPlugin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlugin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlugin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPlugin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPlugin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoPlugin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoPlugin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemPadraoPersonalizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemPadraoPersonalizada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
