@model IEnumerable<BukkitDevSystem.Models.PluginModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePlugin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorPlugin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VersaoPlugin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPlugin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPlugin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoPlugin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemPadraoPersonalizada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePlugin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorPlugin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersaoPlugin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPlugin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPlugin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoPlugin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagemPadraoPersonalizada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
