@model IEnumerable<BukkitDevSystem.Models.PluginModel>

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BukkitDevSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aqui você encontra alguns de meus trabalhos">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
</head>
<body>
    <header style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container menu-navbar">
                <a class="navbar-brand text-white-nav" href=""><img class="bukkit-icon" src="~/img/java-white.png">BukkitDevSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link text-white-nav" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a class="nav-link text-white-nav dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Plugins
                            </a>
                            <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Gratuitos</a>
                                <a class="dropdown-item" href="#">Pagos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-nav" href="#portifolio">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="https://www.github.com/marcopandolfo" class="btn btn-github text-white-nav">Github</a>
            <a href="https://www.twitter.com/lolgamarco2" class="btn btn-twitter text-white-nav">Twitter</a>
        </nav>
    </header>

    <main>
        <!-- Home -->
        <section id="home" class="container">
            <img class="java-blue mx-auto d-block" src="~/img/java-blue.png" alt="Logo Java">
            <h2 class="text-center">Bem vindo ao BukkitDevSystem</h2>
            <div class="subtitulo"><h6>Versão Beta</h6></div>
            <hr style="width: 300px">

            <div class="row start">
                <div class="primeira-coluna col-xl-6 col-12">
                    <h3 class="text-center">He4rt Developers</h3>
                    <div class="text-center">
                        <div class="he4rt-box">
                            <a href="www.google.com" class="logo-centered">
                                <img src="~/img/logo.png" alt="logo-he4rtdevs">
                            </a>
                            <img src="~/img/he4rt.png" alt="foto-he4rtdevs" class="img-fluid fto-principal">
                        </div>
                        <p class="text-center main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore natus aspernatur quos consequuntur odio maiores, eaque aut, ducimus asperiores architecto quam officia voluptate provident assumenda, quisquam fuga quis molestias!</p>
                    </div>
                </div>

                <div class="segunda-coluna col-xl-6 col-12">
                    <h3 class="text-center">Open Source</h3>
                    <div class="text-center">
                        <div class="he4rt-box">
                            <a href="www.google.com" class="logo-centered">
                                <img src="~/img/github-logo.png" alt="logo-he4rtdevs">
                            </a>
                            <img src="~/img/opensource-bg.png" alt="foto-he4rtdevs" class="img-fluid fto-principal">
                        </div>
                        <p class="text-center main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore natus aspernatur quos consequuntur odio maiores, eaque aut, ducimus asperiores architecto quam officia voluptate provident assumenda, quisquam fuga quis molestias!</p>
                    </div>
                </div>

            </div>

        </section>

        <!-- Plugins -->
        <section id="plugins" class="container">
            <h2 class="text-center">PLUGINS</h2>
            <div class="subtitulo"><h6>Listagem de plugins</h6></div>
            <hr style="width: 300px;">
            <div class="container">
                @{
                    if (Model.Count() == 0)
                    {
                        <div class="text-center"><h3 class="text-danger">Nenhum Plugin</h3></div>
                    }
                }
                <div class="row">
                    @{
                        foreach (var plugin in Model)
                        {
                            <div class="col-sm-4 card-box">
                                <div class="card">
                                    @{
                                        string aux = "";
                                        if (plugin.ImagemPadraoPersonalizada)
                                        {
                                            aux = $"{plugin.Id}.png";
                                        }
                                        else
                                        {
                                            aux = "default.png";
                                        }

                                        <div align="center">
                                            <a href="http://localhost/bukkitdev/assets/images/@aux" target="_blank">
                                                <img src="http://localhost/bukkitdev/assets/images/@aux" class="card-img-top img-java-poop" alt="thumbnail">
                                            </a>
                                        </div>
                                    }

                                    <div class="card-body">
                                        <h4 class="text-center">@plugin.NomePlugin</h4>
                                        <h6 class="normal-text"><span class="card-topic">ID:</span> @plugin.Id</h6>
                                        <h6 class="normal-text"><span class="card-topic">Versão:</span> @plugin.VersaoPlugin</h6>
                                        <h6 class="normal-text"><span class="card-topic">Autor:</span> @plugin.AutorPlugin</h6>
                                        <p class="card-text">
                                            <div class="descricao-card">@plugin.DescricaoPlugin</div>
                                            @{
                                                for (int i = 0; i <= plugin.NomePlugin.Length; i++)
                                                {
                                                    plugin.NomePlugin = plugin.NomePlugin.Replace(" ", "");
                                                }
                                            }
                                            <a class="ver-mais-card" data-toggle="modal" data-target="@($"#{plugin.NomePlugin}")">
                                                Ver mais
                                            </a>
                                            <!-- Modal -->
                                            <div class="modal fade text-body" id="@(plugin.NomePlugin)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">@plugin.NomePlugin</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @plugin.DescricaoPlugin
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </p>


                                        @{
                                            if (plugin.TipoPlugin == "Pago")
                                            {
                                                <a href=@($"http://localhost/bukkitdev/assets/plugin/{plugin.Id}.jar") id="btn-plugin" class="btn btn-outline-warning btn-block">Comprar</a>
                                            }
                                            else
                                            {
                                                <a href=@($"http://localhost/bukkitdev/assets/plugin/{plugin.Id}.jar") id="btn-plugin" class="btn btn-outline-primary btn-block">Download</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </section>

        <!-- Sobre -->
        <section id="sobre" class="container">
            <h2 class="text-center">SOBRE</h2>
            <div class="subtitulo"><h6>Um pouco sobre o projeto</h6></div>
            <hr style="width: 300px;">

            <!---------------->
            <div class="row start-sobre">
                <div class="primeira-coluna col-xl-6 col-12">
                    <h3 class="text-center">Lorem title</h3>
                    <div class="text-center">
                        <p class="text-center main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore natus aspernatur quos consequuntur odio maiores, eaque aut, ducimus asperiores architecto quam officia voluptate provident assumenda, quisquam fuga quis molestias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eius praesentium quam voluptas, recusandae laborum sunt placeat. Fugiat officia possimus iste praesentium, consequatur aut fugit odit, accusantium veniam, quae aspernatur?</p>
                    </div>
                </div>

                <div class="segunda-coluna col-xl-6 col-12">
                    <h3 class="text-center">Social media</h3>
                    <div class="text-center social-box">
                        <p>
                            <a href="">
                                <img src="~/img/github-icon.png" class="icon" alt="github-logo">
                                Confira o projeto no github!
                            </a>
                        </p>
                        <p>
                            <a href="">
                                <img src="~/img/twitter.png" class="icon" alt="twitter-logo">
                                Entre em nosso maravilhoso Twitter!
                            </a>
                        </p>
                        <p>
                            <a href="">
                                <img src="~/img/discord.png" class="icon" alt="discord-logo" style="margin-right: 5px">
                                Entre em nosso belo Discord!
                            </a>
                        </p>
                    </div>
                </div>

            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="text-center">
            <h4>&copy; BukkitDevSystem 2019</h4>
        </div>

    </footer>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>